body {
    color: black;
}

form {
    display: inline;
    height: 20px;
}

p {
    margin: 0;
}

.pub-card{
    display: flex;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 512px;  
    flex-wrap: wrap;
    justify-content: space-evenly;      
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.template-container{
    padding-top: 75px;
}  

.region-name{
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    margin-left: 0px;
    padding-bottom: 15px;
}

.main-image{
    height: 400px;
    width: 515px;     
    
}
.pub-div{    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    background-color: #e9dfdf;
    width: 98%;
    margin-left:7px ;
    position: relative;
    top: -30px;        
    z-index:1;
}

.pub-title{
    display: flex;

}

.plus{
   /* margin-top:2px; */
   background-color: #e9dfdf;
   height: 20px;
   border:none;
}

.check{
    background-color: #e9dfdf ;
    border:none;    
}

.heart{
    background-color: #e9dfdf ;
    border:none;
}


.pub-name{
    font-family: 'Playfair Display', serif;
    width: 80%;
    font-size: 25px;
    margin-left: 5px;
}

.pub-desc{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 200;
    text-align: justify;
    margin-left: 5px;
    /* margin-right:200px; */
}

 .pub-details{
    font-family: 'Roboto', sans-serif;
    /* margin-left: 50px; */
    margin-top: 100px;
    margin-left: 18px;
    text-align: justify;
    font-size: 15px;
   
} 

.flex-card{

    flex-wrap: wrap;
    justify-content: space-evenly;      
}

.pub-address{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
  
   
}

.pub-web{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    
}

.address{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
   
    
}

.web{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    
   
    
}