body {
    color: black;
}

form {
    display: inline;
    height: 20px;
}

p {
    margin: 0;
}

.pub-card{
    display: flex;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 512px;  
    flex-wrap: wrap;
    justify-content: space-evenly;      
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.template-container{
    padding-top: 75px;
}  

.region-name {
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    margin-left: 0px;
    padding-bottom: 15px;
}

.region-description{
    
    font-family: 'Libre Caslon Display', serif;
    font-size: 16px;
    padding-bottom: 40px;
    margin-right: 300px;
    text-align: justify;
}

.main-image{
    height: 400px;
    width: 515px;        
}

.image-div {
    height: 400px;
    width: 515px;
}

.pub-div {    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* display: flex; */
    background-color: #ebeae8;
    width: 98%;
    height: 430px;
    /* margin-left:2px ; */
    position: relative;    
    top: -35px;        
    z-index:1;
   
}

.pub-desc-details {
    display: flex;
    justify-content: space-evenly;
}

button:focus { outline: none; }

.plus{
   /* margin-top:2px; */
   background-color: #ebeae8;
   height: 20px;
   border:none;
}

.check{
    background-color: #ebeae8 ;
    border:none;    
}

.heart{
    background-color:#ebeae8 ;
    border:none;
}


.pub-name{
    font-family: 'Playfair Display', serif;
    width: 80%;
    font-size: 25px;
    margin-left: 5px;
}

.pub-desc{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-align: justify;
    margin-left: 5px;
    margin-top:10px;
    width: 100%;
    /* margin-right:200px; */
}


.pub-details {
    font-family: 'Roboto', sans-serif;
    /* margin-left: 50px; */
    margin-top: 10px;
    margin-left: 18px;
    text-align: justify;
    font-size: 15px;
   
} 

.flex-card{

    flex-wrap: wrap;
    justify-content: space-evenly;      
}

.pub-address {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;   
}

.pub-web{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    
}

.address{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: left;
    
}

.web {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}