

.form-title {
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    margin-bottom: 0;
}

.form{
    padding-top: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 750px;
    height: 550px;    
    background-image: url('../images/experience.png') ;
}

.template-container{
    padding-bottom: 5px;
}

input[type="text"], input[type="password"]{
    outline: none;
    border: none;
    width: 355px;
    height: 35px;
    margin-left: 30px;
    font-family: 'Roboto', serif;    
    border-bottom: 1px solid black;  
    background-color: #fbfbfb;

}

.add{
    font-family: 'Libre Caslon Display', serif;
    font-size: 18px;
    width: 200px;
    height: 35px;
    margin-left:30px;
}

textarea {
    margin: 30px;
}