.page-title {
    font-family: 'Playfair Display SC', serif;
    padding-top:50px;
    font-size: 50px;
    margin-left: 0px;
    padding-bottom: 15px;
}

.region-image{
    width: 400px;
    height: 500px;
    padding-bottom: 20px; 
}

.region-image:hover {
    opacity: 0.7;
}

.region-list-flex{
    display:flex;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

