{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BLIGHTY</title>

    <style>
        .navList {
            list-style-type: none;
            display: flex;
            border: 1px solid lightgray;
            padding: 1em;
        }

        .navList__route {
            margin: 0 0.5em;
        }
    </style>
</head>

<body>

    <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'blightyapp:home' %}">Pub Guide</a></li>
            <li class="navList__route"><a href="{% url 'blightyapp:wish_list' %}">My Pubs</a></li>
            <li class="navList__route"><a href="{% url 'blightyapp:visited_list' %}">Visited</a></li>
            <li class="navList__route"><a href="{% url 'blightyapp:experience_list' %}">Experiences</a></li> 
            
            
           {% if request.user.is_authenticated %}
                <li class="navList__route"><a href="{% url 'blightyapp:logout' %}">Logout</a></li>
            {% else %}
                <li class="navList__route"><a href="{% url 'blightyapp:login' %}">Login</a></li>
                <li class="navList__route"><a href="{% url 'blightyapp:register' %}">Sign Up</a></li>
            {% endif %}
        </ol>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>