<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BLIGHTY</title>
</head>

<body>
    <h1> My Experience at {{ patron_pub.pub.name }}</h1>

    <form action="{% url 'blightyapp:home' %}" method="post">
      {% csrf_token %}

          </select>
      </fieldset>
      <fieldset>
          <label for="beers_tried">Beers Tried: </label>
          <input id="beers" type="text" name="beers">
      </fieldset>
      <fieldset>
          <label for="food_ate">Food Ate: </label>
          <input id="food" type="text" name="food">
      </fieldset>
      <fieldset>
          <label for="experience">Experience: </label>
          <input id="Experience" type="text" name="experience">
      </fieldset>

      <input type="submit" value="Add It" />
    </form>
  </body>
</html>
    
        