<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BLIGHTY</title>
</head>

<body>
    <h1> My Experience at {{ patron_pub.pub.name }}</h1>

    <form action="{% url 'blightyapp:experience_list' %}" method="post">
      {% csrf_token %}
    
      <fieldset>
          <label for="beers_tried">Beers Tried: </label>
          <input id="beers" type="text" name="beers">
      </fieldset>
      <fieldset>
          <label for="food_ate">Food Ate: </label>
          <input id="food" type="text" name="food">
      </fieldset>
      <fieldset>
          <label for="experience">Experience: </label>
          <input id="Experience" type="text" name="experience">
      </fieldset>
 
        {% comment %} Add hidden field with patron pub id {% endcomment %}
            <input type="hidden"  id="patron_pub_id" name="patron_pub_id" value="{{ patron_pub.id }}">
            <input type="submit" value="Add It" />
     
    </form>
  </body>
</html>
    
        