{% extends 'shared/base.html' %}
{% block content %}
{% load static %}

<section class="template-container">
    <h1>Experiences</h1>
    {% for experience in all_experiences %}
    <div>
        <h2>{{experience.pub.name}}</h2>
        <p>Beers Drank: {{experience.beers_tried}}</p>
        <p>Food Ate: {{experience.food_ate}}</p>
        <p>Experience: {{experience.experience}}</p>
    </div>

    <div>
        <form action="{% url 'blightyapp:experience_form' experience.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>

         <form action="{% url 'blightyapp:experience_edit_form' experience.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
      </div>    
    {% endfor %}
  </section>
{% endblock %}