
{% extends 'shared/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "styles/visited-list.css" %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Muli&family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}


<section class="template-container">
    <p class="page-title">Visited</p>
        <div class="visited-flex">

        {% for visited_pub in visited_pubs %}

        <div class="visited-card">
   
            <div class="image-container">
                <img class="pub-image" src="{% static visited_pub.pub.image_path %}" alt="">
            </div>
            
           <div class="visited-info">
           {% comment %} ----------- NAME --------------- {% endcomment %}
                <p class="pub-name">{{ visited_pub.pub.name }}<p>

            {% comment %} this may be the visit list template, but we are directing the data collected from the visitied list template and sending it to the patron pub list function  in the patron pub list view. we are handling all of our logic in one place{% endcomment %}
            {% comment %} ---------- FORM 1 {% endcomment %}
                <form action="{% url 'blightyapp:patron_pub_list' %}" method="POST">
                    {% csrf_token %}
                    {% comment %} the conditionals below are checking for a patron pub record to show things a user has already liked/visited when they go to the page so that their likes and visited shows up for the on the region details page -tracking their usage history basically and the icons will show liked/visited with CSS {% endcomment %}
                    {% if visited_pub is not None %}
                    {% comment %} these fields pass information in hidden fields to the view {% endcomment %}
                        <input type="hidden"  id="patron_pub_id" name="patron_pub_id" value="{{ visited_pub.id }}">
                                            
                    {% else %}            
                        <input type="hidden"  id="patron_pub_id" name="patron_pub_id" value="">
                    {% endif %}

                    {% comment %}this never changes on condion, we are always sending the pub id, region id to the patron pub list. the patron pub list. this is also clarifying what is sent in a request as form data and what to check for. exmaple: if form data contains is_ wished and the value is true, this corresponds to the wush button and defines it as being clicked {% endcomment %}
                        <input type="hidden"  id="is_wished" name="is_wished" value="True" />
                        <input type="hidden"  id="is_visited" name="is_visited" value="False">
                        <input type="hidden"  id="pub_id" name="pub_id" value="{{ visited_pub.pub.id }}">
                        <input type="hidden"  id="region_id" name="region_id" value="{{ visited_pub.pub.region_id }}">
                        <input type="hidden"  id="context" name="context" value="visited_list">
                
                    {% if visited_pub.is_wished%}
                        <button type="submit"> <i class="fas fa-heart"></i> </button>   
                    {% else %}   
                        <button type="submit"> <i class="far fa-heart"></i> </button>   
                    {% endif %} 
                </form>

                <form action="{% url 'blightyapp:patron_pub_list' %}" method="POST">
                    {% csrf_token %}
                    {% if visited_pub is not None %}
                        <input type="hidden"  id="patron_pub_id" name="patron_pub_id" value="{{ visited_pub.id}}">                    
                    {% else %}
                        <input type="hidden"  id="patron_pub_id" name="patron_pub_id" value="">
                    {% endif %}
                        <input type="hidden"  id="is_wished" name="is_wished" value="False" />
                        <input type="hidden"  id="is_visited" name="is_visited" value="True">
                        <input type="hidden"  id="pub_id" name="pub_id" value="{{ visited_pub.pub.id }}">
                        <input type="hidden"  id="region_id" name="region_id" value="{{ visited_pub.pub.region_id }}">
                        <input type="hidden"  id="context"  name="context" value="visited_list">
                    
                    {% if visited_pub.is_visited%} 
                        <button class="check" type="submit"> <i class="fas fa-check-square"></i> </button>   
                    {% else %}
                        <button class="check" type="submit"> <i class="far fa-check-square"></i> </button>   
                    {% endif %}  
                </form>

            {% comment %} sends to experience list based on logged in user with help of csrf token {% endcomment %}
            {% comment %} <div> {% endcomment %}
                <div class="experience=item">
                    {% if visited_pub.has_experience %}
                        <button class="plus" type="submit"><a href ={% url 'blightyapp:experience_list' %} class='' style=""><i class="fas fa-plus-square"></i></button>
                        </a> 
                
                    {% else %}
                        <button class="plus" type="submit"> <a href ={% url 'blightyapp:experience_form' visited_pub.id %} class='' style="" >
                        <i class="far fa-plus-square"></i></button>
                        </a>
                    
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </section>
{% endblock %}