
{% extends 'shared/base.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Pubs</title>
  </head>
  <body>
    <h1>My Pubs</h1>
   <div>
        {% for wished_pub in wished_pubs %}
    <div>
            {{ wished_pub.pub.name }}
            <form action="{% url 'blightyapp:patron_pub_list' %}" method="POST">
            {% csrf_token %}
            {% comment %} the conditionals below are checking for a patron pub record to show things a user has already liked/visited when they go to the page so that their likes and visited shows up for the on the region details page -tracking their usage history basically and the icons will show liked/visited with CSS {% endcomment %}
            {% if wished_pub.id is not None %}
                <input type="hidden"  id="patron_pub_id" name="patron_pub_id" value="{{ wished_pub.id }}">
                                    
            {% else %}            
                <input type="hidden"  id="patron_pub_id" name="patron_pub_id" value="">
            {% endif %}
                <input type="hidden" id="is_wished" name="is_wished" value="True" />
                <input type="hidden"  id="is_visited" name="is_visited" value="False">
                <input type="hidden"  id="pub_id" name="pub_id" value="{{ wished_pub.pub.id }}">
                <input type="hidden"  id="region_id" name="region_id" value="{{ wished_pub.pub.region_id }}">
                <input type="hidden"  name="context" value="wish_list">

            {% if wished_pub.is_wished%}
                <button type="submit"> <i class="fas fa-heart"></i> </button>   
            {% else %}   
                 <button type="submit"> <i class="far fa-heart"></i> </button>   
            {% endif %} 

                       
            </form>

            <form action="{% url 'blightyapp:patron_pub_list' %}" method="POST">
            {% csrf_token %}
            {% if wished_pub.id is not None %}
                <input type="hidden"  id="patron_pub_id" name="patron_pub_id" value="{{ wished_pub.id }}">                    
            {% else %}
                <input type="hidden"  id="patron_pub_id" name="patron_pub_id" value="">
            {% endif %}
                <input type="hidden" id="is_wished" name="is_wished" value="False" />
                <input type="hidden"  id="is_visited" name="is_visited" value="True">
                <input type="hidden"  id="pub_id" name="pub_id" value="{{ wished_pub.pub.id }}">
                <input type="hidden"  id="region_id" name="region_id" value="{{ wished_pub.pub.region_id }}">
                <input type="hidden"  name="context" value="wish_list">

            {% if wished_pub.is_visited%} 
                <button type="submit"> <i class="fas fa-check-square"></i> </button>   
             {% else %}
                <button type="submit"> <i class="far fa-check-square"></i> </button>   
            {% endif %} 
            </form>
            
        </div>
     
    {% endfor %}

  </body>
</html>
{% endblock %}