{% extends 'shared/base.html' %}
{% load static %}
{% block extrahead %}

<link rel="stylesheet" type="text/css" href="{% static "styles/home.css" %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Muli&family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}


<section class="template-container">

    <div class="hero">
        <img class="image" src="{% static "images/Hero2.png" %}" alt="My image"></img>
    </div>

    <div>
        <p class="welcome-message-1">
            There's nothing quite like an English pub. Renowned all over the world for their tradition and heritage, they represent so much more than just a place where one can grab a pint.  
            For centuries, these beloved institutions have been at the center of English social life, witnessing, and in many cases, bearing some of the greatest changes in the history of the country. Arguably as synonymous with England as tea time, for hundreds of years the pub has been a beacon in the night to many a weary traveller, a welcome respite from the doldrums of a long workday, and has very often been the focus of community life in small villages and big cities alike.
        </p>

        <p class="welcome-message-2"> 
            Surviving generation after generation, it could be said that pubs serve as a symbol of English innovation and resilience itself. Over the years many pubs have found ways to broaden their contribution to their communities evolving into boutique inns and thriving fine dining restaurants, redefining what it means to be a pub today without sacrificing what the pub has always been: a place for togetherness.
            Here at Blighty we're bringing the dear old pub to you in a curated directory of some of the greatest pubs in all of England. So hang up your hat, pull up a seat, or better yet- always worth a check for an empty one right in front of the fire... <i>cheers!</i>
        </p>
    </div>
</section>

{% endblock %}