{% extends 'shared/base.html' %}
{% load static %}
{% block extrahead %}

<link rel="stylesheet" type="text/css" href="{% static "styles/home.css" %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Muli&family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}


<section class="template-container">

<div class="hero">
<img class="image" src="{% static "images/hero.png" %}" alt="My image"></img>
</div>

<p class="welcome-message">Renowned all over the world for their tradition and heritage, English pubs represent so much more than just a place where one can enjoy a glass of beer, wine, or cider. For centuries, these beloved institutions have been at the center of English social life, witnessing some of the greatest changes in the history of the country.</p>
</section>

{% endblock %}