
{% extends 'shared/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "styles/register.css" %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Muli&family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="template-container">
<div class="register-container-left">
        <div class="page-title">Please Sign Up</div>
        <div class="register-message"> Register an account and get the most out of your BLIGHTY experience</div>
     </div>

<div class="register-container">
    <form method="post">
    {% csrf_token %}
<!--     These values will be saved as part of a new User instance -->
   <div class="reigster-form"> 
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="password" name="password">
        <input type="email" placeholder="email" name="email">
        <input type="text" placeholder="first name" name="first_name" value="userId">
        <input type="text" placeholder="last name" name="last_name">
    </div>

<!--     This value will be saved on the new Librarian instance -->
    {% comment %} <input type="text" placeholder="favorite color" name="fave_color"> {% endcomment %}
    <div classname="button">
   <button class="register-button" type="submit">CREATE MY ACCOUNT</button> </div>
    
    </form>
</div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}
</section>
{% endblock %} 